.container > div {
  align-items: center;
  border: solid grey thin;
  color: white;
  display: flex;
  font-size: 2em;
  justify-content: center;
}

html,
body {
  margin: 10px;
}

/* Creates a pattern of colors for the divs, these colors will repeat every 5 elements */
.container > div:nth-child(1n) {
  background-color: #96ceb4;
}

.container > div:nth-child(2n) {
  background-color: #ff6f69;
}

.container > div:nth-child(3n) {
  background-color: #9dc183;
}

.container > div:nth-child(4n) {
  background-color: #ffcc5c;
}

.container > div:nth-child(5n) {
  background-color: #b784a7;
}
.container {
  display:grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /* Style the template for the grid */
}

/* Making border black */
#b {
  background-color: black;
}

#title {
  grid-column: span 9;
}
#c{
  grid-column: span 6;
}
#date{
  grid-column:span 3;
}
.side-L{
  grid-row: span 7;
}
.top{
  grid-column: span 9;
}
.side-R{
  grid-row: span 7;
}
.bottom{
  grid-column: span 9;
}
.photo{
  grid-column: span 3;
  grid-row:span 3;
}


/* Style remaining grid elements */
